<button type="button" (click)="openPage('profile')">
    Profile
</button>

<div class="profilcard" style="padding: 6px;">
    <mat-spinner *ngIf="profiles.length === 0"></mat-spinner>

    <mat-card *ngFor="let profile of profiles" style="margin-top:20px;">
        <mat-card-content>
            <p style="float: left; text-align: left;">
                <img class="w-28 h-28 rounded-full" style="padding: 10px 10px; margin-right: 10px;"
                  src="{{ profile.imageUrl }}" alt="user photo">
            </p>
            <mat-card-title>{{profile.firstName}} {{profile.lastName}}</mat-card-title>
            <button 
                routerLink="/profile/{{profile.id}}" 
                type="button" 
                id="button-edit" 
                class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl 
                focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800
                font-medium rounded-full text-sm px-4 py-2 text-center mr-2 mb-2"> 
                {{profile.id}}
            </button>  

            
            <a routerLink="/user/{{profile.id}}">mock: {{profile.id}}</a>  
        </mat-card-content>
        <mat-card-actions>
    </mat-card-actions>
    </mat-card>
</div> 

<!-- <div>
    <ul>
        <li *ngFor="let profile of profiles">
               <a routerLink="/profile/{{profile.id}}">{{profile.id}}</a> 
               {{profile.firstName}}{{profile.lastName}}
          </li>
    </ul>
</div> -->

<!-- <div class="border-0" id="profilecard">
    <div style="padding: 13px;">
        <mat-card *ngIf="profiles.length === 0">
            <mat-card-title>NOT </mat-card-title>
        </mat-card>
    
        <mat-card *ngFor="let profile of profiles" style="margin-top:10px;">
            <mat-card-header>
                <mat-card-title>{{profile.firstName}}</mat-card-title>
                <mat-card-subtitle>{{profile.lastName}} $/ {{profile.experience}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{profile.text}}
                </p>
                <img class="w-28 h-28 rounded-full" style="padding: 10px 10px; margin-right: 10px;"
                src="{{ profile.imageUrl }}" alt="user photo">
            </mat-card-content>
            <mat-card-actions>
          <button mat-button> profile</button>
        </mat-card-actions>
        </mat-card>

        <ng-container *ngFor="let item of profiles">
            <h1>{{item.id}}</h1>
            <p>{{item.experience}}</p>
        </ng-container>
    </div> 
</div> -->